---
import Layout from '../layouts/Layout.astro';
import Countdown from '../components/Countdown.svelte';
import Speakers from '../components/Speakers.svelte';
---

<Layout  title="Kerala Startup Mission">
	<main class="py-24 min-h-screen flex flex-col items-center justify-center" >
		<div class="absolute -z-10 w-full h-full top-0 left-0 bg-black bg-opacity-70"></div>
  	<div class="absolute -z-20 bg-cover bg-center bg-no-repeat w-full h-full top-0 left-0" style="background-image:url('/img/bg.jpeg')"></div>  

		<div class="container mx-auto text-white text-center">

			<!-- <h1>Kerala Startup Mission</h1> -->

			<Countdown date="2022-09-23T09:00" client:load ></Countdown>

		</div>
		
	</main>

	<section class="py-24">
		<div class="container mx-auto">
			<Speakers client:load></Speakers>
		</div>
	</section>
</Layout>
