<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <meta name="application-name" content="Kerala Skills Express | Kerala Knowledge Economy Mission">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kerala Skills Express | Kerala Knowledge Economy Mission</title>

    <style>[x-cloak] { display: none !important; }</style>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons@latest/iconfont/tabler-icons.min.css">

    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15/dist/smooth-scroll.polyfills.min.js" is:inline></script>

  </head>

  <body class="antialiased">

		<slot/>


		<script src="https://cdn.jsdelivr.net/npm/@tabler/icons@1.74.0/icons-react/dist/index.umd.min.js" is:inline></script>

		<div class="bg-dark px-5 pt-2 pb-3">
			<div class="text-center text-white">
				&copy; Kerala Knowledge Economy Mission. All Rights Reserved 2024
			</div>
		</div>
  </body>
</html>
