<section class="py-24 px-5 bg-dark">

  <div class="text-3xl text-center font-bold mb-10 text-white">
    Partners
  </div>

  <div class="flex flex-wrap items-center justify-center gap-5">
    <div class="w-40 rounded-md overflow-hidden shadow-md">
      <img src="/img/nasscom.png" alt="">
    </div>
    <div class="w-40 rounded-md overflow-hidden shadow-md">
      <img src="/img/cafit.png" alt="">
    </div>
    <div class="w-40 rounded-md overflow-hidden shadow-md">
      <img src="/img/gtech.png" alt="">
    </div>
    <div class="w-40 rounded-md overflow-hidden shadow-md">
      <img src="/img/technopark.png" alt="">
    </div>
    <div class="w-40 rounded-md overflow-hidden shadow-md">
      <img src="/img/infopark.png" alt="">
    </div>
    <div class="w-40 rounded-md overflow-hidden shadow-md">
      <img src="/img/cyberpark.png" alt="">
    </div>
    <div class="w-40 rounded-md overflow-hidden shadow-md">
      <img src="/img/cii.png" alt="">
    </div>
    <div class="w-40 rounded-md overflow-hidden shadow-md">
      <img src="/img/kinfra.png" alt="">
    </div>
    <div class="w-40 rounded-md overflow-hidden shadow-md">
      <img src="/img/ksidc.png" alt="">
    </div>
    <div class="w-40 rounded-md overflow-hidden shadow-md">
      <img src="/img/asap.png" alt="">
    </div>
    <div class="w-40 rounded-md overflow-hidden shadow-md">
      <img src="/img/ict.png" alt="">
    </div>
    <div class="w-40 rounded-md overflow-hidden shadow-md">
      <img src="/img/ksum.png" alt="">
    </div>
    <div class="w-40 rounded-md overflow-hidden shadow-md">
      <img src="/img/kied.png" alt="">
    </div>
  </div>
</section>