<section class="px-5 pb-24">

  <div class="container mx-auto">
    <section class="splide" aria-label="Splide Basic HTML Example">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide px-1">
            <div class="p-3 pr-0 h-[18rem] bg-cover flex items-end justify-end bg-dark" style="background-image: url('/img/slider/workshop.jpeg')" >
              <div class="text-white font-bold bg-dark mb-4 px-8 py-2">Skill Challenges</div>
            </div>
          </li>
          <li class="splide__slide px-1">
            <div class="p-3 pr-0 h-[18rem] bg-cover flex items-end justify-end bg-dark" style="background-image: url('/img/slider/italk.jpeg')" >
              <div class="text-white font-bold bg-dark mb-4 px-8 py-2">Recruit Train and Deploy</div>
            </div>
          </li>
          <li class="splide__slide px-1">
            <div class="p-3 pr-0 h-[18rem] bg-cover flex items-end justify-end bg-dark" style="background-image: url('/img/slider/ideathon.jpeg')" >
              <div class="text-white font-bold bg-dark mb-4 px-8 py-2">Code Reviews</div>
            </div>
          </li>
          <li class="splide__slide px-1">
            <div class="p-3 pr-0 h-[18rem] bg-cover flex items-end justify-end bg-dark" style="background-image: url('/img/slider/workshop.jpeg')" >
              <div class="text-white font-bold bg-dark mb-4 px-8 py-2">Apprenticeship</div>
            </div>
          </li>
          <li class="splide__slide px-1">
            <div class="p-3 pr-0 h-[18rem] bg-cover flex items-end justify-end bg-dark" style="background-image: url('/img/slider/startup.jpeg')" >
              <div class="text-white font-bold bg-dark mb-4 px-8 py-2">Profile visibility Workshop</div>
            </div>
          </li>
          <li class="splide__slide px-1">
            <div class="p-3 pr-0 h-[18rem] bg-cover flex items-end justify-end bg-dark" style="background-image: url('/img/slider/workshop.jpeg')" >
              <div class="text-white font-bold bg-dark mb-4 px-8 py-2">Industry Challenges</div>
            </div>
          </li>
          <li class="splide__slide px-1">
            <div class="p-3 pr-0 h-[18rem] bg-cover flex items-end justify-end bg-dark" style="background-image: url('/img/slider/hackathon.jpeg')" >
              <div class="text-white font-bold bg-dark mb-4 px-8 py-2">Hackathons</div>
            </div>
          </li>
          <li class="splide__slide px-1">
            <div class="p-3 pr-0 h-[18rem] bg-cover flex items-end justify-end bg-dark" style="background-image: url('/img/slider/startup.jpeg')" >
              <div class="text-white font-bold bg-dark mb-4 px-8 py-2">Internships</div>
            </div>
          </li>
          <li class="splide__slide px-1">
            <div class="p-3 pr-0 h-[18rem] bg-cover flex items-end justify-end bg-dark" style="background-image: url('/img/slider/ideathon.jpeg')" >
              <div class="text-white font-bold bg-dark mb-4 px-8 py-2">Job fairs</div>
            </div>
          </li>
          <li class="splide__slide px-1">
            <div class="p-3 pr-0 h-[18rem] bg-cover flex items-end justify-end bg-dark" style="background-image: url('/img/slider/workshop.jpeg')" >
              <div class="text-white font-bold bg-dark mb-4 px-8 py-2">Learning stations</div>
            </div>
          </li>
          <li class="splide__slide px-1">
            <div class="p-3 pr-0 h-[18rem] bg-cover flex items-end justify-end bg-dark" style="background-image: url('/img/slider/hackathon.jpeg')" >
              <div class="text-white font-bold bg-dark mb-4 px-8 py-2">Technical writing</div>
            </div>
          </li>
          <li class="splide__slide px-1">
            <div class="p-3 pr-0 h-[18rem] bg-cover flex items-end justify-end bg-dark" style="background-image: url('/img/slider/workshop.jpeg')" >
              <div class="text-white font-bold bg-dark mb-4 px-8 py-2">Skill bootcamps</div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </div>

</section>